<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/categorias.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Categorías</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand pokedex-title" href="{{ url_for('index') }}">POKEDEX</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                  </li>
                </ul>
                
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Busca por categoria" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              
            </div>
            </div>
          </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="mt-4 mb-4 proyecto-title">Categoria de todos los Pokemones</h1>
            <div class="row">
                
                <div class="col-md-3 mb-3">
                    <a  href= " {{url_for('pokemones', tipo = 'fire')}}" class="type-card fire nounderline">Fire</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a  href= "{{url_for('pokemones', tipo = 'water')}}" class="type-card water nounderline">Water</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'grass')}}" class="type-card grass nounderline">Grass</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'electric')}}" class="type-card electric nounderline">Electric</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'ice')}}" class="type-card ice nounderline">Ice</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'fighting')}}" class="type-card fighting nounderline">Fighting</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'poison')}}" class="type-card poison nounderline">Poison</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'ground')}}" class="type-card ground nounderline">Ground</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'flying')}}" class="type-card flying nounderline">Flying</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'psychic')}}" class="type-card psychic nounderline">Psychic</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'bug')}}" class="type-card bug nounderline">Bug</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'rock')}}" class="type-card rock nounderline">Rock</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'ghost')}}" class="type-card ghost nounderline">Ghost</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'dark')}}" class="type-card dark nounderline">Dark</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'dragon')}}" class="type-card dragon nounderline">Dragon</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'steel')}}" class="type-card steel nounderline">Steel</a>
                </div>
                
                <div class="col-md-3 mb-3">
                    <a href= " {{url_for('pokemones', tipo = 'fairy')}}" class="type-card fairy nounderline">Fairy</a>
                </div>
            
            </div>
            <ul id="pokemon-list" class="list-group mt-3"></ul>
        </div>
    </main>
</body>
</html>
